.slideshow-container {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  
  .slide {
    display: none;
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
